<%- include('../includes/head.ejs') %>
<%- include('../includes/heading.ejs') %>
<%- include('../includes/navigation.ejs') %>

<main>
  <div class="container" style="background-color: #f8f9fa;">
    <% if (cartItems && cartItems.length > 0) { %>
      <ul class="list-group cart__item-list">
        <% cartItems.forEach(cartItem => { %>
          <li class="list-group-item cart__item">
            <div class="row">
              <div class="col-md-3">
                <img src="/<%= cartItem.Product && cartItem.Product.image_url ? cartItem.Product.image_url : 'path/to/default-image.png' %>" class="img-thumbnail" alt="Product Image" />
              </div>
              <div class="col-md-6">
                <h3><%= cartItem.Product ? cartItem.Product.title : 'Product Not Found' %></h3>
                <p>Quantity: <%= cartItem.quantity %></p>
              </div>
              <div class="col-md-3">
                <form action="cart/delete" method="post" class="d-flex align-items-center justify-content-end">
                  <input type="hidden" name="ProductId" value="<%= cartItem.Product.id  %>">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </div>
            </div>
          </li>
        <% }) %>
      </ul>
      <div class="row justify-content-end mt-3">
        <form action="order">
        <div class="col-md-3">
          <button type="submit" class="btn btn-info">order</button>
        </div>
      </form>
      </div>
    <% } else { %>
      <p>No items found in your cart.</p>
    <% } %>
  </div>
</main>

<%- include('../includes/end.ejs') %>